$bg-color-primary: #f5f9ff;
$bg-color-secondary: #ffffff;
$bg-color-btn: #ffffff;
$bg-color-btn-hover: orangered;
$bg-color-tick: #00d8a7;

$text-color-primary: #11175e;
$text-color-secondary: #b1bacb;
$text-color-hover: #2d70fd;
$text-color-checked: #8f98a8;
$border-color: #eeeeee;

$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
